/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.buttons .button {
  flex: 1 1 auto;
  text-align: center;
  white-space: nowrap;
}

.buttons {
  display: inline-flex;
}

.buttons .button {
  width: max-content;
  min-width: 10ch;
}

@media (max-width: 830px) {
  .buttons {
    flex-direction: column;
    align-items: stretch;
  }

  .buttons .button {
    width: 100%;
  }
}